In [7]:
#Enrolment No. :SMIT/19/PY/B2/07595
#Roll No. :PY07595
#Name :Muhammad Hammad Mansoor
#Q1
print("Twikle, twinkle,little star")
print("      How i wonder what are you doing")
print("          up above the world so high")
print("          like a diamond in the sky")
print("Twikle, twinkle,little star")
print("      How i wonder what are you doing")

Twikle, twinkle,little star
      How i wonder what are you doing
          up above the world so high
          like a diamond in the sky
Twikle, twinkle,little star
      How i wonder what are you doing

In [8]:
#Enrolment No. :SMIT/19/PY/B2/07595
#Roll No. :PY07595
#Name :Muhammad Hammad Mansoor
#Q2
from platform import python_version
print(python_version())

3.7.4

In [9]:
#Enrolment No. :SMIT/19/PY/B2/07595
#Roll No. :PY07595
#Name :Muhammad Hammad Mansoor
#Q3
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2019-11-04 19:57:34

In [10]:
#Enrolment No. :SMIT/19/PY/B2/07595
#Roll No. :PY07595
#Name :Muhammad Hammad Mansoor
#Q4
a=float(input("enter the radius: "))
b=(22/7)*a*2
print("The area is :")
print(b)

enter the radius: 22
The area is :
138.28571428571428

In [11]:
#Enrolment No. :SMIT/19/PY/B2/07595
#Roll No. :PY07595
#Name :Muhammad Hammad Mansoor
#Q5
first_name=input("enter the first name: ")
last_name=input("enter the last name: ")
print(last_name+" "+first_name)

enter the first name: Hammad
enter the last name: Mansoor
Mansoor Hammad

In [12]:
#Enrolment No. :SMIT/19/PY/B2/07595
#Roll No. :PY07595
#Name :Muhammad Hammad Mansoor
#Q6
a=int(input("enter first number: "))
b=int(input("enter second number: "))
sum=a+b
sum1=str(sum)
print("the sum is "+ sum1)

enter first number: 2
enter second number: 4
the sum is 6